*				{	font-family:Andalus;
					padding:0px;
					margin:0px;}

#contenedor		{ 	border:5px solid;
					border-color:black;
					width:100%;
				}
				
#cabecera		{	border-bottom:5px solid;
					border-color:black;
					height:180px;
					background-image:url("campo.jpg");
					background-repeat:no-repeat;
					background-color:blue;

					
				
				}
				
#cabecera a		{	font-size:50px;
					text-align:left;
					float:left;
					margin-left:0%;
					margin-top:-1%;
					z-index:3;
				}
			
#cabecera img	{ 	position:relative; 
					right:-38%;
				}
				
.contenedormenu		{	background-color:#0B0862;
						border-radius:10px;
						border:5px solid;
						border-color:black;
						width:99%;
						position:relative;
						margin:3px;
					}
					
.contenedormenu ul	{	list-style:none;	
						margin:0px;
						padding:0px;
					}

#menu li				{	float: left;
						position: relative;
						margin-right: 10px;
						width: 120px;
					}

#menu a				{	text-decoration: none;
						padding: 5px;
						display: block;
						color:white;
					}

#menu ul				{	position:absolute;
						margin:2px;
						left:0;
						display:none;
					}
					
#menu li:hover > ul	{	z-index:1;
						position:absolute;
						display:block;
					}
	
#menu li:hover ul li 	{	margin:0px;
						width:110px;
						border-radius:10px;
						border-color:blue;
						border:5px solid;
						margin:-2px;
						background:#58ACFA;
					}

#menu li:hover ul a:hover	{	background:black;
						}
						
#contenido		{	width:100%;
					height:829px;
                }
				
#izquierdo		{	border:2px solid;
					border-color:black;
					width:18%;
					float:left;
					height:829px;
					position:absolute;
				}
				
#izquierdo_superior		{	border:2px solid;
							border-color:black;
							height:500px;
							width:100%;
							
						}
						
#izquierdo_superior img   { 	position:relative;
						
						}
				
#izquierdo_inferior		{ 	border:2px solid;
							border-color:black;
							width:100%;
							height:326px;
							float:bottom;
							overflow:hidden;
							background-color:#9193F9;
						}

#centro			{	background-color: #C7C6FF;
                    width: 64.5%;
					float:left;
                    height: 98%;
                    border-radius: 10px;
                    border: 5px solid;
                    margin-left: 19%;

				}

#derecho		{	border: 2px solid;
					border-color: black;
					width: 15%;
					height: 829px;
					float: right;
				}
#derecho img{       width:95%;
                    height:10%;
                }
#derecho   a         {   text-decoration:none;
                    
                }
#derecho li		{    list-style:none; 
                     text-align:center;  
                     display:block;					 
                }

				
#pie			{ 	border-top:5px solid;
					width:100%;
					height:14%;
					position:relative;
					border-color:black;
					background:blue;
                }
				
#pie a			{ 	font-size:150%;
				}
							
.clear{clear:both;}